{% extends 'icare/base_main.html'%}

{% block body_block %}
	<div class="container-fluid">
	
		<div class="panel panel-info">
		<div class="panel-heading">
		<h4>Patient Info</h4>
		</div>
		<div class="panel-body">
		<div class="row-fluid">
				<div class="col-sm-6">
				
					<h5>Patient name: {{patient.name}}</h5>
					<h5>Date of birth:{{patient.birthday}}</h5>
					<h5>gender: {{patient.gender}}</h5>
					<h5>address:{{patient.address}}</h5>
				</div>
				
				<div class="col-sm-4">
					
					{% if patient.patient_image %}
						<img src="/media/{{patient.patient_image}}"/ class="img-responsive">
					{% else %}
						<img width="200" height="300" src="http://lorempixel.com/256/128/people/" />
					{% endif %}
				
				</div>
				{% if can_request %}
				<div class="col-sm-2">
				
					<a class="btn btn-sm btn-primary" type="button" id="add_friend_patient" data-id="{{patient.id}}">Add patient</a>
				
				</div>
				{% endif %}
			</div>
			
			
			</div>
		</div>		
	</div>
	<div class="container-fluid">
		<div class="panel panel-info">
		<div class="panel-heading">
		<h4>Information</h4>
		</div>
		<div class="panel-body">
			<div class="row-fluid">
				<div class="col-sm-10">
				<h5>Height:</h5><a id="height">{{patient_record.height}}</a>
				</div>
				<div class="col-sm-2">
				{% if myaccount%}
				<a class="btn btn-sm btn-primary" type="button"id="height_update" data-id="{{patient_record.id}}">Update</a>
				{% endif%}
				</div>
			</div>
			<div class="row-fluid" id="height_edit">
			
			</div>
			
			<div class="row-fluid">
				<div class="col-sm-10">
				<h5>Weight:</h5> <a id="weight">{{patient_record.weight}}</a>
				</div>
				<div class="col-sm-2">
				{% if myaccount%}
				<a class="btn btn-sm btn-primary" type="button" id="weight_update" data-id="{{patient_record.id}}">Update</a>
				
				{% endif%}
				</div>
			</div>
			<div class="row-fluid" id="weight_edit">
			
			</div>
			
			<div class="row-fluid">
				<div class="col-sm-10">
				<h5>BMI:<h5> <a id="bmi">{{patient_record.bmi}} {% if is_underweight %}<span class="label label-info">underweight</span>{% endif %} {% if is_healthy %}<span class="label label-success">healthy</span>{% endif %} {% if is_slightly %}<span class="label label-warning">slightly overweight</span>{% endif %} {% if is_overweight %}<span class="label label-danger">overweight</span>{% endif %} </a>
				</div>
			</div>
			
			<div class="row-fluid">
				<div class="col-sm-10">
				<h5>Ethnicity:</h5> <a id="ethnicity">{{patient_record.ethnicity}}</a>
				</div>
				{% if myaccount%}
				<div class="col-sm-2">
				
				<a class="btn btn-sm btn-primary" type="button" id="ethnicity_update" data-id="{{patient_record.id}}">Update</a>
				
				</div>
				{% endif%}
			</div>
			<div class="row-fluid" id="ethnicity_edit">
			
			</div>
		</div>
		</div>
	</div>
	
	<div class="container-fluid">
	<div class="panel panel-info">
	<div class="panel-heading">
	<h4>Vaccination</h4>
	</div>
	<div class="panel-body" >
		
		<div id="vaccination">
		{% for vaccination in vaccinations %}
			<div class="row-fluid">
				<div class="col-sm-10">
				
				<p>{{vaccination.medication.topic.title}}</p>
				
				</div>
			</div>
		
		{% endfor %}
		</div>
		
		<br/>
			{% if myaccount %}
			<div class="row-fluid">
			<a class="btn btn-sm btn-primary" type="button" id="vaccination_update" data-id="{{patient_record.id}}">Update</a>
			</div>
			{% endif %}
			<div class="row-fluid" id="vaccination_edit">
			
			</div>
	</div>
	</div>	
	</div>
	<div class="container-fluid">
	<div class="panel panel-info">
		<div class="panel-heading">
		
		
		<h4>Life style</h4>
		</div>
		<div class="panel-body">
		<div class="row-fluid">
			<div class="col-sm-10">
			<h5>Dietary restrictions:</h5> <a id="dietary_restriction">{{patient_record.dietary_restriction}}</a>
			</div>
			
			<div class="col-sm-2">
			{% if myaccount %}
				<a class="btn btn-sm btn-primary" type="button" id="dietary_restriction_update" data-id="{{patient_record.id}}">Update</a>
			{% endif%}
			</div>
		</div>	
		<div class="row-fluid" id="dietary_restriction_edit">
		
		</div>
		
		<div class="row-fluid">
			<div class="col-sm-10">
			<h5>Alcohol:</h5> <a id="alcohol">{{patient_record.alcohol}}</a>
			</div>
			
			<div class="col-sm-2">
			{% if myaccount %}
				<a class="btn btn-sm btn-primary" type="button"id="alcohol_update" data-id="{{patient_record.id}}">Update</a>
			{% endif%}
			</div>
		</div>
		
		<div class="row-fuild" id="alcohol_edit">
		
		</div>

		<div class="row-fluid">
			<div class="col-sm-10">
			<h5>Tobacco:</h5><a id="tobacco">{{patient_record.tobacco}}</a>
			</div>
			
			<div class="col-sm-2">
			{% if myaccount %}
				<a class="btn btn-sm btn-primary" type="button" id="tobacco_update" data-id="{{patient_record.id}}">Update</a>
			{% endif%}
			</div>
			
		</div>	
		
		<div class="row-fluid" id="tobacco_edit">
		
		</div>
		
		<div class="row-fluid">
			<div class="col-sm-10">
			<h5>Sexually active:</h5><a id="sex">{{patient_record.sexually_active}}</a>
			</div>
			
			<div class="col-sm-2">
			{% if myaccount %}
				<a class="btn btn-sm btn-primary" type="button" id="sex_update" data-id="{{patient_record.id}}">Update</a>
			{% endif%}
			</div>
		</div>		
		
		<div class="row-fluid" id="sex_edit">
		
		</div>
		
		<div class="row-fluid">
			<div class="col-sm-10">
			<h5>Recreational Drugs:</h5> <a id="recreational_drug">{{patient_record.recreational_drug}}</a>
			</div>
			
			<div class="col-sm-2">
			{% if myaccount %}
				<a class="btn btn-sm btn-primary" type="button" id="recreational_drug_update" data-id="{{patient_record.id}}">Update</a>
			{% endif%}
			</div>
		</div>	
		<div class="row-fluid" id="recreational_drug_edit">
		
		</div>
		</div>	
	</div>
	</div>
{% endblock %}

{% block related_block%}
{% if myaccount %}
	<div class="row-fluid">
	<div class="panel panel-default">
		<div class="panel-heading">
		<h5>Related Topic</h5>
		</div>
		<div class="panel-body">
		{% for topic_follow in topics_follow %}
		<div class="row-fluid">
		<a href="/icare/topic/show/{{topic_follow.topic.id}}/">{{topic_follow.topic.title}}</a>
		</div>
		{% endfor %}
		
		{% for vaccination in vaccinations%}
		<div class="row-fluid">
		<a href="/icare/topic/show/{{vaccination.medication.topic.id}}/">{{vaccination.medication.topic.title}}</a>
		</div>
		{% endfor%}
		
		{%for checklist in user_checklist%}
		<div class="row-fluid">
		<a href="/icare/topic/show/{{checklist.related_topic.id}}/">{{checklist.related_topic.title}}</a>
		</div>
		{% endfor %}
		</div>
	</div>
{% endif %}
{% endblock %}