{% extends 'icare/base_main.html' %}

{% block js %}
  {{ block.super }}
  <script>
    $.endlessPaginate({paginateOnScroll: true});
  </script>
{% endblock %}

{% block body_block %}
<div class="row-fluid">
<div class="panel panel-default">
<div class="panel-body">
<form id="search_form" method="get" action="/icare/search/condition/"
	enctype="multipart/form-data">
	<div class="form-group">
	<div class="row">
		<div class="col-sm-10">
			<input class="form-control" type="text" placeholder="Search a condition here" name='condition' id="condition"/>
		</div>
		<div class="col-sm-2">
			<input class="btn btn-info btn-lg" type="submit" value="Search">
		</div>
	</div>
</form>
</div>
</div>
</div>
</div>
<div class="row-fluid">
	<div class="panel panel-default">
		<div class="panel-body">
		<h4>Condition result</h4>
		</div>
	</div> 
</div>

	{% include page_template %}


{% endblock %}
