{% extends 'icare/base_main.html' %}

{% block js %}
  {{ block.super }}
  <script>
    $.endlessPaginate({paginateOnScroll: true});
  </script>
{% endblock %}

{% block body_block %}
<div class="row-fluid">
<div class="panel panel-default">
<div class="panel-body">
<form id="search_form_procedure" method="get" action ="/icare/search/procedure/result/" 
	enctype = "multipart/form-data">
	<div class="form-group">
	<div class="row-fluid">
		<div class="col-sm-10">
			<input class="form-control"  type="text" name="procedure" id="procedure" placeholder="Search a procedure here">
		</div>
		<div class="col-sm-2">
			<input class="btn btn-primary" type="submit" value="Search">
		</div>
	</div>
	</div>
</form>
</div>
</div>
</div>
<div class="row-fluid">
	<div class="panel panel-default">
	<div class="panel-body">
		<h4>Procedure result:</h4>
	</div>
	</div>
</div>
	{% include page_template %}



{% endblock %}