{% extends 'icare/base_login.html' %}
{% load bootstrap_toolkit %}
	{% block body_block %}
	<div class="container-fluid">
	<div class="col-sm-5 col-sm-offset-5">
	<div class="panel panel-default">
	<div class="panel-body">
		<h2>Patient Registration Form</h2>
		
			<div class="container-fluid">
				<div class="col-sm-8">
			{% if registered %}
				<strong>Thank you for registering!</strong>
				<a href="/icare/home">Go to home page.</a><br/>
			
			{% else %}
				
			<form  role="form" id="user_form" method="POST" action="/icare/register/patient/" 
				enctype="multipart/form-data">
				
				<div class="form-group">
				<h3>Sign up Here</h3>
				
				<b>Login details</b>
				{% csrf_token %}
				<hr/>
				
				{{ user_form|as_bootstrap}}
				
				<br/>
				
				<b>Patient Details</b>
				
				{{patient_form|as_bootstrap}}
				
				<br/>
				
				<input class="btn btn-primary"  type="submit" name="submit" value="Register"/>
				</div>
				</form>
			{% endif %}
			</div>
			</div>
	</div>
	</div>
	</div>
	</div>
	{% endblock %}