{% load bootstrap_toolkit %}
<div class="row-fluid">
<div class="col-sm-10">
<form  class="form-inline" id="{% if add %}patient_medication_submit{% else %}patient_medication_submit_edit {% endif %}" method="post" action="{% if add %}/icare/patient/submit_add_medication/{{patient_id}}/{% else %}/icare/patient/submit_edit_medication/{{medication_id}}/{% endif%}"
		enctype="multipart/form-data">
	{% csrf_token%}
			{{patient_medication_form|as_bootstrap}}
	<br/>
	<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span></button>
</form>
</div>
</div>