{% extends 'icare/base_main.html' %}
{% load bootstrap_toolkit %}

{% block js %}
  {{ block.super }}
  <script>
    $.endlessPaginate({paginateOnScroll: true});
  </script>
{% endblock %}


{% block body_block %}
<div class="container-fluid">
		<!--Nav tab -->
		<ul class="nav nav-tabs" role="tablist">
			<li class="active">
				<a href="#profile" role="tab" data-toggle="tab">
					<i class="fa fa-user"></i>Profile
				</a>
			</li>
			<li>
				<a href="#history" role="tab" data-toggle="tab">
					<i class="fa fa-evelope"></i>History
				</a>
			</li>
		</ul>
		<!--tab panes-->
	<div class="tab-content">
	<div class="tab-pane fade active in" id="profile">
	
		<div class="panel panel-info">
		<div class="panel-heading">
		<h4>Doctor</h4> Rating:<span class="stars">{{doctor_record.star}}</span>
		
		</div>
		<div class="panel-body">
			<div class="container-fluid">
			
			</div>
			<div class="container-fluid">
				<div class="col-sm-6">
					<h5>Doctor name: {{doctor.name}}</h5>
					<h5>Specialty: {{doctor.specialty}}</h5>
					<h5>Gender: {{doctor.gender}}</h5>
					<h5>Active Year: {{doctor.year}}</h5>
					
				</div>
				
				<div class="col-sm-4">
					
					{% if doctor.doctor_image %}
						<img class="img-responsive"  src="/media/{{doctor.doctor_image}}"/>
					{% else %}
						<img class="img-responsive" src="http://lorempixel.com/256/128/people/" />
					{% endif %}
					
					
				</div>
				
				<div class="col-sm-2">
				{% if can_request %}
					<a class="btn btn-sm btn-primary" type="button" id="add_friend_doctor" data-id="{{doctor.id}}">Add Care list</a>
					<br/>
				{% endif %}
				
				{% if is_friend %}
					<a class="btn btn-sm btn-success" type="button">Care Doctor</a>
					<br/>
				{% endif %}
				
				{% if can_be_advisor %}
					<a class="btn btn-sm btn-primary" type="button" id="add_advisor_doctor" data-id="{{doctor.id}}">Add Advisor</a>
					<br/>
				{% endif %}
				
				{% if is_advisor %}
					<a class="btn btn-sm btn-success" type="button" >Advisor</a>
					<br/>
				{% endif %}
				</div>
				
				
			</div>
			</div>
		</div>
		<div class="panel panel-info">
		<div class="panel-heading">
				<h4>About me</h4>
		</div>
		<div class="panel-body">
			
			<div class="container-fluid">
				<div class="col-sm-8">
				<p>{{doctor_record.doctor_information}}</p>
					
					
				</div>
			</div>
				<div class="container-fluid">
					<hr/>
					{% if myaccount %}
					
					<!-- Trigger the modal with a button -->
					<button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#doctor_edit">Edit</button>

					<!-- Modal -->
					<div id="doctor_edit" class="modal fade" role="dialog">
							<div class="modal-dialog">

					<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Doctor record edit form</h4>
								</div>
								<div class="modal-body">
									
									<form role="form" method="post" action="/icare/profile/doctor/edit/{{doctor_record.id}}/">
									<div class="form-group">
										{% csrf_token %}
										{{doctor_record_form|as_bootstrap}}
										{{doctor_image_form|as_bootstrap}}
										
										<br/>
										<input class="btn btn-primary" type="submit" name="submit" value="edit"/>
									</div>
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
								</div>
							</div>

							</div>
					</div>
					{% endif%}
				</div>
			
			</div>	
		</div>
		<div class="panel panel-info">
		<div class="panel-heading">
				<h3>Graduated School</h3>
			</div>
			
		<div class="panel-body">
			
			<div class="container">
				<p>{{doctor.school}}</p>
			</div>
		</div>	
		</div>
		<div class="panel panel-info">
		<div class="panel-heading">
				<h3>Spoken Language<h3>
			</div>
		<div class="panel-body">
			
			<div class="container-fluid">
				<p>{{doctor_record.language}}</p>
			</div>
		</div>
		</div>
		<div class="panel panel-info">
		<div class="panel-heading">
				<h4>I have <h4>
		</div>
		<div class="panel-body">
			
			
			<div class="container">
				<p>received <a>{{doctor_record.patient_recommendation}}</a> thanks from patients</p>
				<p>received <a>{{doctor_record.doctor_recommendation}}</a> agrees form other doctors</p>
			</div>
		</div>
		</div>
	</div>	
	<!--history-->
	<div class="tab-pane fade" id="history">
	
	{%include page_template %}
	
	</div>
	</div>
</div>
{% endblock %}

{% block related_block %}
<div class="row-fluid">

	<div class="panel panel-default">
	<div class="panel-heading">
		<h4>My Insights &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#topic_add">Add</button> </h4>
	</div>
	
	<div class="panel-body">
	{% if myaccount %}
		<div class="container-fluid">
			

					<!-- Modal -->
					<div id="topic_add" class="modal fade" role="dialog">
							<div class="modal-dialog">

					<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Add topic form</h4>
								</div>
								<div class="modal-body">
									<div>
									<form id="topic_form" method="POST" action="/icare/topic/add/new/"
									enctype="multipart/form-data">

										{% csrf_token %}

										{{topic_form|as_bootstrap}}
										<label>Select topic categories</label>
										<select class="form-control" name="select_category">
											<option value="condition">condition</option>
											<option value="medication">medication</option>
											<option value="symptom">symptom</option>
											<option value="procedure">procedure</option>
										</select>
										<br/>
										<input class="btn btn-primary" type="submit" name="submit" value="submit"/>

									</form>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
								</div>
							</div>

							</div>
					</div>
		</div>
	{% endif %}
	
		{% for topic in topic_list %}
		<div class="container-fluid">
		<div class="col-sm-9">
			
				<a href="/icare/topic/show/{{topic.topic.id}}/">{{topic.topic.title}}</a>
			
		</div>
		
		<div class="col-sm-3">
			{% if myaccount %}
				
				<button type="button" class="btn btn-mini btn-info btn-sm" data-toggle="modal" data-target="#topic_edit{{topic.topic.id}}">Edit</button>

					<!-- Modal -->
					<div id="topic_edit{{topic.topic.id}}" class="modal fade" role="dialog">
							<div class="modal-dialog">

					<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Edit topic form</h4>
								</div>
								<div class="modal-body">
									<div>
									<form id="edit_topic" method="POST" action="/icare/topic/edit/{{topic.topic.id}}/" 
										enctype="multipart/form-data">
										
										{% csrf_token %}
										<div class="form-group">
										{{topic.topic_edit_form|as_bootstrap}}
										<br/>
									<input class="btn btn-primary" type="submit" name="submit" value="Submit" />
									</div>
									</form>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
								</div>
							</div>

							</div>
					</div>
			{% endif %}
		</div>
		</div>
		<br/>
		{% endfor %}
		</div>
	</div>
	</div>
{% endblock %}