{% extends 'icare/base_main.html' %}
{% load bootstrap_toolkit %}

{% block js %}
  {{ block.super }}
  <script>
    $.endlessPaginate({paginateOnScroll: true});
  </script>
{% endblock %}


{% block body_block %}
<div class="row-fluid">
		<!--Nav tab -->
		<ul class="nav nav-tabs" role="tablist">
			<li class="active">
				<a href="#profile" role="tab" data-toggle="tab">
					<i class="fa fa-user"></i>Profile
				</a>
			</li>
			<li>
				<a href="#history" role="tab" data-toggle="tab">
					<i class="fa fa-evelope"></i>History
				</a>
			</li>
		</ul>
		<!--tab panes-->
	<div class="tab-content">
	<div class="tab-pane fade active in" id="profile">
	
	<div class="panel panel-default">
		<div class="panel-body">
		
		<div class="row-fluid">
		
		<div class="col-md-5 col-md-offset-3">
			{% if doctor.doctor_image %}
				<img class="img-responsive"  src="/media/{{doctor.doctor_image}}"/>
			{% else %}
				<img class="img-responsive" src="http://lorempixel.com/256/128/people/" />
			{% endif %}
			<hr/>
			<h4>Dr.{{doctor.name}}</h4>
			<span class="stars">{{doctor_record.star}}</span>
			<p >{{doctor.specialty}}</p>
			<p class="text-muted">{{friend_count}} follower</p>
		</div>
		
		<div class="col-md-4">
				{% if can_request %}
					<a class="btn btn-sm btn-primary" type="button" id="add_friend_doctor" data-id="{{doctor.id}}">Add Care list</a>
					
				{% endif %}
				
				{% if is_friend %}
					<a class="btn btn-sm btn-success" type="button">Care Doctor</a>
					
				{% endif %}
				
				{% if can_be_advisor %}
					<a class="btn btn-sm btn-primary" type="button" id="add_advisor_doctor" data-id="{{doctor.id}}">Add Advisor</a>
					
				{% endif %}
				
				{% if is_advisor %}
					<a class="btn btn-sm btn-success" type="button">Advisor</a>
					
				{% endif %}
		</div>
		
		</div>	
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-6">
		
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
					<div class="container-fluid">
					<strong>About me</strong>
					</div>
					<hr/>
					<div class="container-fluid">
					<p>{{doctor_record.doctor_information}}</p>
					</div>
					<hr/>
					{% if myaccount %}
					
					<!-- Trigger the modal with a button -->
					<div class="container-fluid">
					<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#doctor_edit">Edit</button>
					</div>
					<!-- Modal -->
					<div id="doctor_edit" class="modal fade" role="dialog">
							<div class="modal-dialog">

					<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Doctor record edit form</h4>
								</div>
								<div class="modal-body">
									
									<form role="form" method="post" action="/icare/profile/doctor/edit/{{doctor_record.id}}/">
									<div class="form-group">
										{% csrf_token %}
										{{doctor_record_form|as_bootstrap}}
										
										
										<br/>
										<input class="btn btn-primary" type="submit" name="submit" value="edit"/>
									</div>
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
								</div>
							</div>

							</div>
					</div>
					{% endif%}
					</div>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
					<div class="container-fluid">
					<strong>I specialize in</strong>
					</div>
					<hr/>
					<div class="container-fluid">
					<p>{{doctor.specialty}}</p>
					</div>
					</div>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-body">
				<div class="row">
				<div class="container-fluid">
				<strong>Experience</strong>
				</div>
				<hr/>
				<div class="container-fluid">
				<p>I have been in practice since {{doctor.year}}</p>
				</div>
				</div>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-body">
				<div class="row">
				<div class="container-fluid">
				<strong>I speak</strong>
				</div>
				<hr/>
				<div class="container-fluid">
				<p>{{doctor_record.language}}</p>
				</div>
				</div>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-body">
				<div class="row">
				<div class="container-fluid">
					<strong>My answers and insights</strong>
				</div>	
					<hr/>
				<div class="container-fluid">	
					<p>Received {{doctor_record.patient_recommendation}} thanks from patient user</p>
					<p>Received {{doctor_record.doctor_recommendation}} agrees from doctor user</p>
					<p>I created {{doctor_record.number_create_topic}} health topics</p>
					<p>I created {{doctor_record.number_create_item_checklist}} health tips</p>
					<p>I answered {{doctor_record.number_answer}} questions from user</p>
				</div>	
				</div>	
				</div>
			</div>
		
		</div>
		
		<div class="col-sm-6">
		
			<div class="panel panel-default">
				<div class="panel-body">
				<div class="row">
				<div class="container-fluid">
					<strong>I locate at</strong>
				</div>	
					<hr/>
				<div class="container-fluid">	
					<p>{{doctor.address}}</p>
				</div>	
					<hr/>
				<div class="container-fluid">	
					<strong>Office hours</strong>
				</div>
					<hr/>
				<div class="container-fluid">	
					<p>{{doctor_record.office_hour}}</p>
				</div>	
				</div>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-body">
				<div class="row">
				<div class="container-fluid">
				<strong>I educate and training at </strong>
				</div>
				<hr/>
				<div class="container-fluid">
				<strong>Medical/Graduate school</strong>
				<p>{{doctor.school}}</p>
				</div>
				</div>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-body">
				<div class="row">
				<div class="container-fluid">
				<strong>Additional link</strong>
				</div>
				<hr/>
				<div class="container-fluid">
				<a href="{{doctor_record.url}}">{{doctor_record.url}}</a>
				</div>
				</div>
				</div>
			</div>
			
		</div>
	</div>
	</div>
	
	
	
	<!--history-->
	<div class="tab-pane fade" id="history">
	
	{%include page_template %}
	
	</div>
	</div>
</div>
{% endblock %}

{% block related_block %}
<div class="container-fluid">
	<br/>
	<br/>
	<div class="panel panel-default">
	<div class="panel-heading">
	<div class="container-fluid">
		<h4>My Insights &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		{% if myaccount %}
		<span class="glyphicon glyphicon-plus-sign" data-toggle="modal" data-target="#topic_add" ></span>
		</h4>
		{% endif %}
	</div>	
	</div>
	
	<div class="panel-body">
	<div class="row">
	
	
		{% for topic in topic_list %}
		<div class="row-fluid">
		<div class="col-sm-10">
			
				<h5><strong><a href="/icare/topic/show/{{topic.topic.id}}/">{{topic.topic.title}}</a></strong></h5>
				<p class="text-muted">{{topic.topic.topicfollow_set.count}} follower</p>
			
		</div>
		
		<div class="col-sm-2">
			{% if myaccount %}
				<span class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#topic_edit{{topic.topic.id}}"></span>
				

					<!-- Modal -->
					<div id="topic_edit{{topic.topic.id}}" class="modal fade" role="dialog">
							<div class="modal-dialog">

					<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Edit topic form</h4>
								</div>
								<div class="modal-body">
									<div>
									<form id="edit_topic" method="POST" action="/icare/topic/edit/{{topic.topic.id}}/" 
										enctype="multipart/form-data">
										
										{% csrf_token %}
										<div class="form-group">
										{{topic.topic_edit_form|as_bootstrap}}
										<br/>
									<input class="btn btn-primary" type="submit" name="submit" value="Submit" />
									</div>
									</form>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
								</div>
							</div>

							</div>
					</div>
			{% endif %}
		</div>
		
		</div>
		
		{% endfor %}
		</div>
	</div>
	</div>
</div>	
	{% if myaccount %}
		<div class="container-fluid">
			

					<!-- Modal -->
			<div id="topic_add" class="modal fade" role="dialog">
							<div class="modal-dialog">

					<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Add topic form</h4>
								</div>
								<div class="modal-body">
									<div>
									<form id="topic_form" method="POST" action="/icare/topic/add/new/"
									enctype="multipart/form-data">

										{% csrf_token %}

										{{topic_form|as_bootstrap}}
										<label>Select topic categories</label>
										<select class="form-control" name="select_category">
											<option value="condition">condition</option>
											<option value="medication">medication</option>
											<option value="symptom">symptom</option>
											<option value="procedure">procedure</option>
										</select>
										<br/>
										<input class="btn btn-primary" type="submit" name="submit" value="submit"/>

									</form>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
								</div>
							</div>

							</div>
					</div>
		</div>
	{% endif %}
{% endblock %}