{% load endless %}
{% paginate 25 list %}
{% if list %}

<div class="panel-group">
{% for notification in list %}
	
	{% if notification.is_question %}
	{% if not notification.is_private %}
	<div class="panel panel-default">
		<div class="panel-body">
		<div class="row-fluid">
		<div class="row-fluid">
			<h4>
			{{notification.question_object.title}} 
			</h4>
			<p>
			<a>{{notification.answer_count}}</a> answers
			</p>
		</div>
		<hr/>
        {% if notification.is_answer %}
		<div class="row-fluid">
		<div class="col-sm-2">
		
		{% if notification.hero.from_doctor.doctor_image %}
		<img class="img-responsive" width="50" height="50" src="/media/{{notification.hero.from_doctor.doctor_image}}"/>
		{% endif %}
		
		</div>
		
		<div class="col-sm-10">
		<h5>
		<p><a href="/icare/profile/doctor/{{notification.hero.from_doctor.user.id}}/">Dr.{{notification.hero.from_doctor.name}}</a> answer:</p> 	
		</h5>
		<p class="text-muted">on {{notification.notification_object.date_time}}</p>
		<hr/>
		</div>
		
		</div>
		
		
		
		<div class="row-fluid">
		<div class="col-sm-12">
		<p>{{notification.hero.detail}}</p><a href="/icare/question/show/{{notification.question_object.id}}">Read more</a>
		</div>
		</div>
		
		{% else %}
        <div class="container-fluid">
            <a href="/icare/question/show/{{notification.question_object.id}}">Read more</a>
        </div>
		
        {% endif %}
		</div>
		</div>
	
	</div > 
	<br/>
	{% endif %}
	
	{% endif %}	
	
	{% if notification.is_topic %}
	<div class="panel panel-default">
	<div class="panel-body">
		
		
			
			{% if notification.topic_object.created_doctor.doctor_image %}
			<div class="container-fluid">
			<div class="col-sm-2">
			<img src="/media/{{notification.topic_object.created_doctor.doctor_image}}/" class="img-responsive" width="50" height="50">
			</div>
			
			
			
			<div class="col-sm-6">
			<a href="/icare/profile/doctor/{{notification.topic_object.created_doctor.user.id}}/">Dr.{{notification.topic_object.created_doctor.name}}</a> has created
			<p class="text-muted">on {{notification.notification_object.date_time}}</p>
			</div>
			</div>
			<hr/>
			{% endif %}
		
			
		
		<div class="row-fluid">
		<h4>
		<a href="/icare/topic/show/{{notification.topic_object.id}}/">{{notification.topic_object.title}}</a> <small>{% if notification.topic_object.medication%}Medication{% endif%} {% if notification.topic_object.condition%}Condition{% endif%} {% if notification.topic_object.procedure%}Procedure{% endif%} {% if notification.topic_object.symptom%}Symptom{% endif%}</small>
		</h4>
		</div>
		<hr/>
		
		<p>In Brief</p>
		<p>{{notification.topic_object.definition}}</p>
	</div>
	</div>
	<br/>
	{% endif %}
	
	{% if notification.is_checklist %}
		<div class="panel panel-info">
		
		<div class="panel-heading">
			<div class="container-fluid">
			
			<div class="col-sm-2">
			<img src="/media/{{notification.checklist_object.related_doctor.doctor_image}}/" class="img-responsive" width="60" height="60" >
			</div>
			<div class="col-sm-6">
			<a href="/icare/profile/doctor/{{notification.checklist_object.related_doctor.user.id}}/">{{notification.checklist_object.related_doctor.name}}</a>'s CheckList on <h4><a href="/icare/{{notification.checklist_object.related_goal.id}}/check_lists/">{{notification.checklist_object.related_goal.title}}</h4>
			<a class="btn btn-sm btn-primary" data-toggle="collapse" data-parent="#accordion" href="#{{notification.checklist_object.id}}">Show</a>
			</div>
			
			<div class="col-sm-4">
				<p><a>{{notification.checklist_object.use}}</a> usages</p>
				<p><a>{{notification.checklist_object.likes}}</a> thanks</p>
				<p><a>{{notification.checklist_object.agree}}</a> doctor agree</p>
			</div>
			
			</div>
		</div>
		
		<div id="{{notification.checklist_object.id}}" class="panel-collapse collapse">
		<div class="panel-body">
		
			<div class="container-fluid">
			<ul>
			{% for item in notification.items %}
				<li > <h5>{{ item.title }} </h5> <hr/> <h5><small><p class="text-muted" >{{item.frequency}}    Priority:{{item.priority}}</p></small></h5></li>
				<br/>
			{% endfor %}
			</ul> 
			</div>
		</div>
		
		
		</div>
		</div>
		
		<br/>
	{% endif %}
	
{% endfor %}


</div>
{% else %}
	<strong>There are no feed present </strong>
{% endif %}

{% show_more%}
