{% extends 'icare/base_main.html' %}

{% block js %}
  {{ block.super }}
  <script>
    $.endlessPaginate({paginateOnScroll: true});
  </script>
{% endblock %}

{% block body_block %}
<div class="row-fluid">
	<div class="panel panel-default">
	<div class="panel-heading">
	<h4>{{question.title}}</h4>
	</div>
	</div>
</div>
{% if can_answer %}

<div class="row-fluid">
	<div class="panel panel-default">
	<div class="panel-body">
			<form role="form" id="answer_post" method="POST" action="/icare/question/answer/{{question.id}}/"
				enctype="multipart/form-data">
			{% csrf_token %}
			<div class="form-group">
			
				
					{{answer_form.detail.errors}}
					{{answer_form.detail}}
			</div>
			
			<div>
			<input class="btn btn-primary" type="submit" name="submit" value="Answer"/>
			</form>
		</div>
	</div>
</div>
</div>

{% endif %}

{% if is_patient %}
<div class="row-fluid">
	<div class="panel panel-default">
		<div class="panel-body">
			<form role="form"  method="POST" action="/icare/question/post_related/{{question.id}}/" 
				enctype="multipart/form-data">
				{% csrf_token %}
				<label>Post a similar question</label>
				<div class="form-group">
					{{question_form.errors}}
					{{question_form.title}}
				</div>
				<input class="btn btn-primary" type="submit" name="submit" value="Post"/>
			</form>
		</div>
	</div>
</div>

{% endif %}

{% include page_template %}


{% endblock %}

{% block related_block %}

{% if question_related_list%}
<div class="row-fluid">
		<div class="panel panel-default">
			<div class="panel-heading">
			<h5>Question related</h5>
			</div>
			
			<div class="panel-body">
			{% for question_related in question_related_list %}
			<div class="row-fluid">
			<a href="/icare/question/show/{{question_related.question_related.id}}/">{{question_related.question_related.title|truncatewords:30}}</a>
			<p class="text-muted">{{question_related.question_related.answer_count}} answer(s)</p>
			</div>
			{% endfor %}
			</div>
		</div>
</div>
{% endif%}

{% endblock %}
