{% extends 'icare/base_main.html' %}
{% load bootstrap_toolkit %}

{% block body_block%}
<div class="container-fluid">
	{% if can_ask %}
	<div class ="panel panel-default">
		<div class="panel-body">
			<h4>Post a Question</h4>
			<form role="form" id="question_post" method="post" action="/icare/question/post/"
			enctype="multipart/form-data">
			<div class="form-group">
			{% csrf_token %}
					{{ask_form.title.errors}}
					{{ask_form.title}}
			<br/>		
			<div class="container-fluid">
			<div class="col-sm-3 col-sm-offset-10">
				<input class="btn btn-primary" type="submit" type="submit" name="submit" value="Post">
			</div>
			</div>
			</div>
			</form>
		</div>
	</div><hr/>
	{% endif %}
    <div class="row-fluid" id="new_question">
    
    </div>
	



{% include page_template %}
</div>
{% endblock %}

{% block related_block%}
{% if can_ask%}
<div class="container-fluid">
	<div class="panel panel-default">
		<div class="panel-heading">
		<h5>Suggested Doctors</h5>
		</div>
		<div class="panel-body">
			{% for doctor_suggestion in doctor_suggestion_list %}
			<div class="container-fluid">
			
				<div class="col-sm-4">
				<img class="img-responsive" src="/media/{{doctor_suggestion.doctor_image}}" width="40" height="40">
				</div>
				<div class="col-sm-8">
				<h5><a href="/icare/profile/doctor/{{doctor_suggestion.user.id}}/">Dr.{{doctor_suggestion.name}}</h5>
				<p class="text-muted">{{doctor_suggestion.specialty}}</p>
				<h6><span class="stars">{{doctor_suggestion.doctorrecord.star}}</span></h6>
				</div>
			
			</div>
			<hr/>
			{%endfor %}
		</div>
	</div>
</div>
{% endif %}
{% endblock%}
{% block js %}
  {{ block.super }}
  <script>
    $.endlessPaginate({paginateOnScroll: True, paginateOnScrollMargin: 20});
  </script>
{% endblock %}
