{% extends 'icare/base_main.html' %}
{% load bootstrap_toolkit %}

{% block js %}
  {{ block.super }}
  <script>
    $.endlessPaginate({paginateOnScroll: true});
  </script>
{% endblock %}


{% block body_block %}
<div class="container-fluid">

	<div class="panel panel-default">
	
		<div class="panel-body">
		<div class="col-sm-6">
			<div class="row-fluid">
			<h4>{{topic.title}} &nbsp;<small>{% if topic.medication%}Medication{% endif%} {% if topic.condition%}Condition{% endif%} {% if topic.procedure%}Procedure{% endif%} {% if topic.symptom%}Symptom{% endif%}</small></h4>
			<p class="text-muted"> <small id="new_topic_count">{{topic.topicfollow_set.count}}</small> follow</p>
			</div>
		</div>
		<div class="col-sm-3">
		
		</div>
		<div class="col-sm-3" id="follow_button">
			
			{% if is_follow %}
			<button type="button" class="btn btn-md btn-info" id="topic_unfollow_button" data-topicid="{{topic.id}}" >Followed</button>
			{% else %}
			<button type="button" class="btn  btn-md btn-primary" data-topicid="{{topic.id}}" id="topic_follow_button">Follow</button> 
			{% endif %}
			
		</div>
		</div>
		</div>
	
	
<div class="panel panel-default">
	
	<div class="panel-body">
	<div class="row">
	<div class="container-fluid">
	{% if topic.created_doctor %}
		<div class="container-fluid">
		<div class="col-sm-2">
		<img width="30" height="30" class="img-responsive" src="/media/{{topic.created_doctor.doctor_image}}"/>
		</div>
		<div class="col-sm-4">
		<p><a href="/icare/profile/doctor/{{topic.created_doctor.user.id}}/">{{topic.created_doctor.name}}</a> created</p>
		<p class="text-muted">{{topic.create_time}}</p>
		</div>
		</div>
		
		<hr/>
	{% endif %}	
		<p>{{topic.definition}}</p>
		{% if topic.image %}
			<img src="/media/{{topic.image}}" style="width:304px;height:228px">
		{% endif %}
		
		
	</div>
	<hr/>
	<div class="container-fluid">
	<div class="col-sm-10">
		{% if number_doctor_agree %}
		
		<a data-toggle="collapse" data-parent="#accordion" href="#doctor_agree_list">{{number_doctor_agree}} doctor agree</a>
		
		{% else %}
		
		{% endif %}
	</div>
	<div class="col-sm-2">
	{% if not is_patient%}
		<a {% if is_agreed %}class="btn btn-sm btn-success"{% else %}class="btn btn-sm btn-primary"{% endif%} type="button" id ="topic_agree" data-id="{{topic.id}}"> {% if is_agreed %}Agreed {% else %}Agree {% endif%}</a>
		
	{% endif %}
	</div>
	
	</div>
	
	<div id="doctor_agree_list" class="panel-collapse collapse">
	<hr/>
	{% for doctor_agree in doctor_agree_list %}
	<div class="row-fluid">
	<div class="col-sm-2">
		<img width="30" height="30" class="img-responsive" src="/media/{{doctor_agree.doctor.doctor_image}}"/>
	</div>
	<div class="col-sm-4">
	<p><a href="/icare/profile/doctor/{{doctor_agree.doctor.user.id}}/">{{doctor_agree.doctor.name}}</a></p>
	<span class="stars">{{doctor_agree.doctor.doctorrecord.star}}</span>
	<h5><small>{{doctor_agree.doctor.specialty}}</small></h5>
	</div>
	</div>
	{% endfor%}
	</div>
	</div>
	</div>
</div>
<hr/>
{% if is_patient %}
	
	<div class ="panel panel-default">
		<div class="panel-body">
			<h4>Post a Question</h4>
			<form role="form" method="post" action="/icare/question/post/topic/{{topic.id}}/"
			enctype="multipart/form-data">
			
			{% csrf_token %}
					{{question_form.errors}}
					{{question_form.title}}
					
			<br/>
				<input class="btn btn-primary" type="submit" type="submit" name="submit" value="Post">
				
			</form>
		</div>
	</div>
	
{% endif %}


{% include page_template %}
</div>
{% endblock %}

{% block related_block %}

<div class="container-fluid">
{% if not is_patient %}
<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#topic_add">Add related topic</button>

					<!-- Modal -->
					<div id="topic_add" class="modal fade" role="dialog">
							<div class="modal-dialog">

					<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Add topic form</h4>
								</div>
								<div class="modal-body">
									<div>
									<form id="topic_form" method="post" action="/icare/topic/add/related_topic/{{topic.id}}/"
									enctype="multipart/form-data">

										{% csrf_token %}

										{{topic_form|as_bootstrap}}
										<label>Select topic categories</label>
										<select class="form-control" name="select_category">
											<option value="condition">condition</option>
											<option value="medication">medication</option>
											<option value="symptom">symptom</option>
											<option value="procedure">procedure</option>
										</select>
										<br/>
										<input class="btn btn-primary" type="submit" name="submit" value="Submit" />

									</form>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
								</div>
							</div>

							</div>
					</div>
{% endif %}					
<h5>Related Topics</h5>
	
	<div class="panel-group">
	{% if condition_list %}
	<div class="pane-group">
	<div class="panel panel-info">
	<div class="panel-heading">
	<h6 data-toggle="collapse" data-parent="#accordion" href="#Condition">Condition</h6>
	</div>
	<div id="Condition" class="panel-collapse collapse">
	<div class="panel-body">
	{% for condition in condition_list %}
		<a href="/icare/topic/show/{{condition.id}}/">{{condition.title}}</a>
		<p class="text-muted">{{condition.topicfollow_set.count}} follow</p>
	
	{% endfor%}
	</div><br />
	</div>
	</div>
	</div>
	{% endif %}
	<br/>
	{% if symptom_list %}
	<div class="panel-group">
	<div class="panel panel-info">
	<div class="panel-heading">
	<h6 data-toggle="collapse" data-parent="#accordion" href="#Symptom">Symptom</h6>
	</div>
	<div id="Symptom" class="panel-collapse collapse">
	<div class="panel-body">
	{% for symptom in symptom_list %}
		<a href="/icare/topic/show/{{symptom.id}}/">{{symptom.title}}</a>
		<p class="text-muted">{{symptom.topicfollow_set.count}} follow</p>
	
	{% endfor%}
	</div><br />
	</div>
	</div>
	</div>
	{% endif %}
	
	{% if medication_list %}
	<div class="panel-group">
	<div class="panel panel-info">
	<div class="panel-heading">
	<h6 data-toggle="collapse" data-parent="#accordion" href="#Medication" >Medication</h6>
	</div>
	<div id="Medication" class="panel-collapse collapse">
	<div class="panel-body">
	{% for medication in medication_list %}
		<a href="/icare/topic/show/{{medication.id}}/">{{medication.title}}</a>
		<p class="text-muted">{{medication.topicfollow_set.count}} follow</p>
	
	{% endfor%}
	</div><br/>
	</div>
	</div>
	</div>
	{% endif %}
	
	{% if procedure_list %}
	<div class="panel-group">
	<div class="panel panel-info">
	<div class="panel-heading">
	<h6 data-toggle="collapse" data-parent="#accordion" href="#Procedure">Procedure</h6>
	</div>
	<div id="Procedure" class="panel-collapse collapse">
	<div class="panel-body">
	{% for procedure in procedure_list %}
		<a href="/icare/topic/show/{{procedure.id}}/">{{procedure.title}}</a>
		<p class="text-muted">{{procedure.topicfollow_set.count}} follow</p>
	
	{% endfor%}
	</div><br />
	</div>
	</div>
	{% endif%}
	
	{% if other_topic_list %}
	<div class="panel-group">
	<div class="panel panel-info">
	<div class="panel-heading">
	<h6 data-toggle="collapse" data-parent="#accordion" href="#Other_Topic">Other Topic</h6>
	</div>
	<div id="Other_Topic" class="panel-collapse collapse">
	<div class="panel-body">
	{% for other_topic in other_topic_list %}
		<a href="/icare/topic/show/{{other_topic.id}}/">{{other_topic.title}}</a>
		<p class="text-muted">{{topic.topicfollow_set.count}} follow</p>
	
	{% endfor%}
	</div><br/>
	</div>
	</div>
	</div>
	{% endif%}
	</div>
</div>
</div>
{% endblock %}