{% extends 'icare/base_main.html' %}
{% load bootstrap_toolkit %}

{% block body_block %}
        <h2>Add Topic</h2>

        <div>
             <form role="form" id="topic_form" method="post" action="/icare/topic/add/"
                enctype="multipart/form-data">

                {% csrf_token %}

                {{ topic_form|as_bootstrap}}
				<br/>
                 <input class="btn btn-primary" type="submit" name="submit" value="Submit" />

            </form>
        </div>

{% endblock %}
