{% load endless %}
{% paginate question_list %}
{% if question_list %}
<div class="panel-group">
	{% for question in question_list %}
	<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row-fluid">
			<div class="col-sm-12">
			<h5>
			<p>{{question.question_object.title}} </p>
			</h5>
			<h6>
			<a>{{question.answer_count}} answers </a>
			</h6>
			</div>
		</div><hr />
	</div>
		<div class="panel-body">
		
		<div class="row">
		{% if question.hero %}
		
		<div class="container-fluid">
		
		<div class="col-sm-2">
		<img class="img-responsive" width="40" height="40" src="/media/{{question.hero.from_doctor.doctor_image}}">
		</div>
		
		<div class="col-sm-10">
		<h5>
		<a href="/icare/profile/doctor/{{question.hero.from_doctor.user.id}}/"> Dr.{{question.hero.from_doctor.name}} </a> answer: 	
		
		</h5> 
		<p class="text-muted"> on {{question.hero.created_time}}</p>
		</div>
		
		</div>
		
		<hr/>
		
		<div class="container-fluid">
		<p>{{question.hero.detail}} </p><a href="/icare/question/show/{{question.question_object.id}}">Read more</a>
		</div>
		
		{% else %}
		<div class="container-fluid">
		<a href="/icare/question/show/{{question.question_object.id}}">Read more</a>
		</div>
		
		
		{% endif %}
		</div>
		
		</div>
		
	</div><br/>
	{% endfor %}
</div>

{% else %}

<div class="panel panel-default">
<div class="panel-body">
	<strong>There are no related question present </strong>
</div>
</div>

{% endif%}

{% show_more%}
